{% extends "base.html" %}

{% block title %}Register Page{% endblock %}

{% load staticfiles %}
{% block head %}
{{ block.super }}
    #id_password1 small {
        /* Hide the text. */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
{% endblock %}

{% block content %}
<div id="cotent" class="container">
    <h1>New User Registration</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

{% endblock %}