{% extends "base.html" %}

{% block title %}Functional group Search{% endblock %}

{% block head %}
{% load staticfiles %}
{{ block.super }}
        h4{
            font-size: 20px;
            font-weight: bold;
            color: #555;
        }
        .box0 {
            float: left;
            width: 100%;

        }
        .box0-1 {
            #border: 2px solid;
            float: left;
            width: 100%;
            margin-bottom: 5px;
        }
        #comment1 {
            float: left;
            margin-left: 15px;
        }
        #fc-mw-box1 {
            float: left;
            margin-left: 30px;
            margin-rifht: 15px;
        }
        #fc-mw-box1 input {
            width: 130px;
        }
        #fc-mw-box2 {
            float: left;
            margin-left: 20px;
        }
        #fc-mw-box2 input {
            width: 130px;
        }
        .box0-2 {
            margin-bottom: 10px;
        }
        /* MW query box */
        #fc-mw-box {
            margin-left: 22px;
        }
        #fc-mw {
            width: 130px;
        }
        /* MF query box */
        #fc-mf-box {
            float: left;
            margin-left: 22px;
            margin-top: 5px;
        }
        #fc-mf-box input{
            width: 250px;
        }
        .box1 {
            margin-top: 5px;
            float: left;
            width: 40%;
            border: 2px solid;
            border-color: #009999;
            height: 390px;
            overflow-y: scroll;
        }
        .box2 {
            margin-top: 5px;
            float: left;
            width: 35%;
            padding-left: 10px;
            #border: 2px solid;
        }

        .sector {
            padding-top: 10px;
            margin-left: 3px;
        }

        .inboxA {
            #border: 2px solid;
        }

        .inboxA-1 {
            float: left;
            width: 100%;
        }

        .inboxA-3 {
            text-align: center;
        }

        .container1 {
            position: relative;
            width: 15%;
            height: 69px;
            border: 2px solid;
            border-color: #00cccc;
            float: left;
            margin-left: 10px;
        }

        .image {
            display: block;
            width: 100%;
            height: 100%;
        }

        .overlay1 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #00b3b3;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }

        .container1:hover .overlay1 {
            height: 100%;
        }

        .text .fc_title {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .inner-addon {
            position: relative;
            //margin-top: 5px;
        }
        .inner-addon .glyphicon {
            position: relative;
            padding: 7px;
            pointer-events: none;
        }
        .left-addon .glyphicon {
            left: 6px;
            top: 30px;
            position: relative;
        }
        .left-addon input {
            padding-left: 30px;
        }

        #fc-search {
            //float: left;
            width: 20%;
        }

        #fc-search #fc-search-query{
            width: 100%;
        }

        #fc-smarts {
            margin-left: 20px;
            float: left;
            width: 55%;
            #border: 2px solid;
        }

        #fc-smarts #fc-smarts-query {
            width: 74%;
            height: 30px;
            margin-left: 5px;
        }
        #smq {
            float:left;
            font-size: 18px;
        }

        .smarts-reset {
            float: left;
            margin-left: 5px;
            width: 5%;
            #border: 2px solid;
        }

        #fc-sketch {
        resize: both;
        overflow: auto;
        #border: 2px solid;
        border-color: #00cccc;
        padding: 5px;
        width: 100%;
        height: 320px;
        }
        .search-submit {
            float: left;
            width: 13%;
            #border: 2px solid;
        }
        .search-submit button {
            margin-left: 10px;
        }

        #id_FC_Num {
            width: 50px;
        }

{% endblock %}

{% block content %}
<form action="{% url 'C3DB:functional' %}" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="dd">
        <div class="container" style="margin-top: 8px;">
            <ul class="nav nav-tabs">
                <li>
                    <div class="col-lg-3">
                        {{ form.Category }}
                    </div>
                </li>
                <li><a href="{% url 'C3DB:exact' %}">Search</a></li>
                <li><a href="{% url 'C3DB:functional' %}">Identification</a></li>
                <li><a href="{% url 'C3DB:mass' %}">Mass</a></li>
            </ul>

            <div class="tab-content" id="mol-gallery">
                <h3>Identification</h3>
                <div class="boxA">
                    <div class="box0-0">
                        <div id="fc-mw-box">
                            MW :
                            <input type="text" id="fc-mw" name="MW">
                            Mol.Formula :
                            <input name="FMF" id="fc-formular" type="text">
                        </div>
                        <!--div id="fc-mf-box">
                        </div-->
                    </div>
                    <div class="box0-1">
                        <!--div id="fc-mw-box1">
                            <p><strong></strong></p>
                        </div-->
                    </div>

                    <div class="box0">
                        <div id="fc-smarts" class="smart-query">
                            <p id="smq">SMARTS query : </p>
                            <textarea name="SmartsQuery" id="fc-smarts-query" placeholder="SMARTS format of functional group you selected" style="font: 17px arial, sans-serif;"></textarea>
                        </div>
                        <div class="smarts-reset">
                            <button id="smarts-reset" type="button" class="btn btn-default"><strong>Reset</strong></button>
                        </div>
                        <div class="search-submit">
                            <button id="search-button" type="submit" class="btn btn-primary" style="width: 120px;"><strong>Search</strong></button>
                        </div>
                    </div>
                    <div class="inter">
                        <div id="fc-search" class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" placeholder="Search Functional group" id="fc-search-query" />
                        </div>
                    </div>

                    <div class="box1">
                        <!-- First Line of Functional groups -->
                        <div class="row sector" id="sector1">
                            <h4>Carbon & Oxygen Group</h4>
                            <!-- Aldehyde -->
                            <div class="container1" id="aldehyde">
                                <img src="{% static 'imgs/Functional/' %}aldehyde.png" alt="CHFO" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Aldehyde</p></div>
                                </div>
                            </div>
                            <!-- Amide -->
                            <div class="container1" id="amide">
                                <img src="{% static 'imgs/Functional/' %}amide.png" alt="C2H5NO" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Amide</p></div>
                                </div>
                            </div>
                            <!-- Carbamate -->
                            <div class="container1" id="carbamate">
                                <img src="{% static 'imgs/Functional/' %}carbamate.png" alt="CH3NO2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 11px;">Carbamate</p></div>
                                </div>
                            </div>
                            <!-- Carbamic acid -->
                            <div class="container1" id="carbamic_acid">
                                <img src="{% static 'imgs/Functional/' %}carbamic_acid.png" alt="CH3NO2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Carbamic<br> acid</p></div>
                                </div>
                            </div>
                            <!-- Carbonic Acid -->
                            <div class="container1" id="carbonic_acid">
                                <img src="{% static 'imgs/Functional/' %}carbonic_acid.png" alt="CH2O3" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Carbonic<br> acid</p></div>
                                </div>
                            </div>

                        </div>
                        <!-- Second Line of Functional groups -->
                        <div class="row sector" id="sector2">
                            <!-- Phenol -->
                            <div class="container1" id="phenol">
                                <img src="{% static 'imgs/Functional/' %}phenol.png" alt="C6H6O" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Phenol</p></div>
                                </div>
                            </div>
                            <!-- Peroxide -->
                            <div class="container1" id="peroxide">
                                <img src="{% static 'imgs/Functional/' %}peroxide.png" alt="H2O2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 15px;">Peroxide</p></div>
                                </div>
                            </div>
                            <!-- Hydroxyl -->
                            <div class="container1" id="hydroxyl">
                                <img src="{% static 'imgs/Functional/' %}hydroxyl.png" alt="*OH" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Hydroxyl</p></div>
                                </div>
                            </div>
                            <!-- Keton -->
                            <div class="container1" id="keton">
                                <img src="{% static 'imgs/Functional/' %}keton.png" alt="C3H6O" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Keton</p></div>
                                </div>
                            </div>
                            <!-- Ester -->
                            <div class="container1" id="ester">
                                <img src="{% static 'imgs/Functional/' %}ester.png" alt="C3H6O2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Ester</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Second-2 Line of Functional groups -->
                        <div class="row sector" id="sector2-2">
                            <!-- Ether -->
                            <div class="container1" id="ether">
                                <img src="{% static 'imgs/Functional/' %}ether.png" alt="C2H6O" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Ether</p></div>
                                </div>
                            </div>
                            <!-- Carboxylic acid -->
                            <div class="container1" id="carboxylic_acid">
                                <img src="{% static 'imgs/Functional/' %}carboxylic_acid.png" alt="CH2O2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 11px;">Carboxylic<br> acid</p></div>
                                </div>
                            </div>
                        </div>

                        <!-- Third Line of Functional groups -->
                        <div class="row sector" id="sector3">
                             <h4>Nitrogen Group</h4>
                            <!-- Amidine -->
                            <div class="container1" id="amidine">
                                <img src="{% static 'imgs/Functional/' %}amidine.png" alt="C3H6O" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 14px;">Amidine</p></div>
                                </div>
                            </div>
                            <!-- Cyanamide -->
                            <div class="container1" id="cyanamide">
                                <img src="{% static 'imgs/Functional/' %}cyanamide.png" alt="CH2N2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 11px;">Cyanamide</p></div>
                                </div>
                            </div>
                            <!-- Amine -->
                            <div class="container1" id="amine">
                                <img src="{% static 'imgs/Functional/' %}amine.png" alt="H3N" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 16px;">Amine</p></div>
                                </div>
                            </div>
                            <!-- Enamine -->
                            <div class="container1" id="enamine">
                                <img src="{% static 'imgs/Functional/' %}enamine.png" alt="C2H5N" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 14px;">Enamine</p></div>
                                </div>
                            </div>
                            <!-- Amino acid -->
                            <div class="container1" id="amino_acid">
                                <img src="{% static 'imgs/Functional/' %}amino_acid.png" alt="C2H2*2O2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 16px;">Amino<br> acid</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Third Line of Functional groups -->
                        <div class="row sector" id="sector4">
                            <!-- imide -->
                            <div class="container1" id="imide">
                                <img src="{% static 'imgs/Functional/' %}imide.png" alt="C2NO2*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Imide</p></div>
                                </div>
                            </div>
                            <!-- Nitrate -->
                            <div class="container1" id="nitrate">
                                <img src="{% static 'imgs/Functional/' %}nitrate.png" alt="NO3" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Nitrate</p></div>
                                </div>
                            </div>
                            <!-- Nitrile -->
                            <div class="container1" id="nitrile">
                                <img src="{% static 'imgs/Functional/' %}nitrile.png" alt="N2*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Nitrile</p></div>
                                </div>
                            </div>
                            <!-- Nitro group-->
                            <div class="container1" id="nitro">
                                <img src="{% static 'imgs/Functional/' %}nitro.png" alt="N2*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Nitro</p></div>
                                </div>
                            </div>
                            <!-- Nitroso-->
                            <div class="container1" id="nitroso">
                                <img src="{% static 'imgs/Functional/' %}nitroso.png" alt="NO*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 17px;">Nitroso</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Third-2 Line of Functional groups -->
                        <div class="row sector" id="sector4-2">
                            <!-- Imine -->
                            <div class="container1" id="imine">
                                <img src="{% static 'imgs/Functional/' %}imine.png" alt="*CN*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Imine</p></div>
                                </div>
                            </div>
                            <!-- Hydrazone -->
                            <div class="container1" id="hydrazone">
                                <img src="{% static 'imgs/Functional/' %}hydrazone.png" alt="*CH2N2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 12px;">Hydrazone</p></div>
                                </div>
                            </div>
                            <!-- Azole -->
                            <div class="container1" id="azole">
                                <img src="{% static 'imgs/Functional/' %}azole.png" alt="C3N*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Azole</p></div>
                                </div>
                            </div>
                            <!-- Azo Nitrogen -->
                            <div class="container1" id="azo_nitrogen">
                                <img src="{% static 'imgs/Functional/' %}azo_nitrogen.png" alt="N2" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 14px;">Azo<br> Nitrogen</p></div>
                                </div>
                            </div>
                            <!-- Azide -->
                            <div class="container1" id="azide">
                                <img src="{% static 'imgs/Functional/' %}azide.png" alt="NaN3" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Azide</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Fourth Line of Functional groups -->
                        <div class="row sector" id="sector5">
                            <h4>phosphoric Group</h4>
                            <!-- Phosphoric Acid-->
                            <div class="container1" id="phosphoric_acid">
                                <img src="{% static 'imgs/Functional/' %}phosphoric_acid.png" alt="H3PO4" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 12px;">Phosphoric<br> Acid</p></div>
                                </div>
                            </div>
                            <!-- Phosphoric Ester-->
                            <div class="container1" id="phosphoric_ester">
                                <img src="{% static 'imgs/Functional/' %}phosphoric_ester.png" alt="PO4*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 12px;">Phosphoric<br> Ester</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Fifth Line of Functional groups -->
                        <div class="row sector" id="sector6">
                            <h4>Sulfur Group</h4>
                            <!-- Thioester-->
                            <div class="container1" id="thioester">
                                <img src="{% static 'imgs/Functional/' %}thioester.png" alt="COS*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 15px;">Thioester</p></div>
                                </div>
                            </div>
                            <!-- Thiocarboxyl acid-->
                            <div class="container1" id="thiocarboxyl_acid">
                                <img src="{% static 'imgs/Functional/' %}thiocarboxyl_acid.png" alt="CHOS*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 10px;">Thiocarboxyl<br> acid</p></div>
                                </div>
                            </div>
                            <!-- Thiol-->
                            <div class="container1" id="thiol">
                                <img src="{% static 'imgs/Functional/' %}thiol.png" alt="HS*" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Thiol</p></div>
                                </div>
                            </div>
                            <!-- Thioamide-->
                            <div class="container1" id="thioamide">
                                <img src="{% static 'imgs/Functional/' %}thioamide.png" alt="CHNS" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Thioamide</p></div>
                                </div>
                            </div>
                            <!-- Sulfide -->
                            <div class="container1" id="sulfide">
                                <img src="{% static 'imgs/Functional/' %}sulfide.png" alt="S2-" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title">Sulfide</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Sixth Line of Functional groups -->
                        <div class="row sector" id="sector7">
                            <!-- Sulfamate -->
                            <div class="container1" id="sulfamate">
                                <img src="{% static 'imgs/Functional/' %}sulfamate.png" alt="Sulfamate" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Sulfamate</p></div>
                                </div>
                            </div>
                            <!-- Sulfamic acid-->
                            <div class="container1" id="sulfamic_acid">
                                <img src="{% static 'imgs/Functional/' %}sulfamic_acid.png" alt="Sulfamic acid" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 14px;">Sulfamic<br> acid</p></div>
                                </div>
                            </div>
                            <!-- Sulfenic acid-->
                            <div class="container1" id="sulfenic_acid">
                                <img src="{% static 'imgs/Functional/' %}sulfenic_acid.png" alt="Sulfenic acid" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 14px;">Sulfenic<br> acid</p></div>
                                </div>
                            </div>
                            <!-- Sulfinic Acid -->
                            <div class="container1" id="sulfinic_acid">
                                <img src="{% static 'imgs/Functional/' %}sulfinic_acid.png" alt="HO2S" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 15px;">Sulfinic<br> acid</p></div>
                                </div>
                            </div>
                            <!-- Sulfuric acid ester-->
                            <div class="container1" id="sulfuric_acid_ester">
                                <imgs src="{% static 'imgs/Functional/' %}sulfuric_acid_ester.png" alt="Sulfuric acid ester" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 13px;">Sulfuric<br> acid<br> ester</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Sixth-2 Line of Functional groups -->
                        <div class="row sector" id="sector6-2">
                            <!-- Sulfonamide-->
                            <div class="container1" id="sulfonamide">
                                <img src="{% static 'imgs/Functional/' %}sulfonamide.png" alt="Sulfonamide" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 11px;">Sulfonamide</p></div>
                                </div>
                            </div>
                            <!-- Sulfonic acid-->
                            <div class="container1" id="sulfonic_acid">
                                <img src="{% static 'imgs/Functional/' %}sulfonic_acid.png" alt="Sulfonic acid" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 15px;">Sulfonic<br> acid</p></div>
                                </div>
                            </div>
                            <!-- Sulfone-->
                            <div class="container1" id="sulfone">
                                <img src="{% static 'imgs/Functional/' %}sulfone.png" alt="Sulfone" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 16px;">Sulfone</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- Seventh Line of Functional groups -->
                        <div class="row sector" id="sector8">
                            <h4>Halide Group</h4>
                            <!-- Alkyl halide-->
                            <div class="container1" id="halide">
                                <img src="{% static 'imgs/Functional/' %}halide.png" alt="Alkyl halide" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 15px;">Alkyl<br> halide</p></div>
                                </div>
                            </div>
                            <!-- Acyl halide-->
                            <div class="container1" id="acyl_halide">
                                <img src="{% static 'imgs/Functional/' %}acyl_halide.png" alt="Acyl halide" class="image">
                                <div class="overlay1">
                                    <div class="text"><p class="fc_title" style="font-size: 15px;">Acyl<br> halide</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="inboxA">
                            <div class="inboxA-2">
                            </div>
                            <div class="inboxA-1">
                                <h4>Draw your query</h4>
                                <div class="resizable">
                                    <iframe src="{% static 'MarvinJS/editorws.html' %}" id="fc-sketch" class="sketcher-frame"></iframe>
                                </div>
                            </div>
                            <div class="inboxA-3">
                                <button id="add" type="button" class="btn btn-info" style="width: 120px;"><strong>Add</strong></button>
                                <button id="clear" type="button" class="btn btn-default"><strong>Clear</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/functional_search.js' %}"></script>
<script type="text/javascript">

/* Get the SMARTS from server using query drawn by MarvinJS */
var marvinSketcherInstance;

$(document).ready(function handleDocumentReady (e) {
    MarvinJSUtil.getEditor("#fc-sketch").then(function (sketcherInstance) {
        marvinSketcherInstance = sketcherInstance;
        initControl();
    },function (error) {
        alert("Cannot retrieve sketcher instance from iframe:"+error);
    });
});

function initControl () {
    // get mol button
    $("#add").on("click", function (e) {
        marvinSketcherInstance.exportStructure("mol").then(function(source) {
            $("#molsource").text(source);
            // Send 'source(mol drawn by user)' to server
            $.ajax({
                type: "POST",
                url: "{% url 'C3DB:converter' %}",
                timeout: 2000,
                data: {
                    MolForSmarts: source,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(result){
                    if (result.smarts){
                        var query = $('#fc-smarts-query').val();
                        if (query !== ""){
                            query += '.' + result.smarts;
                            $("#fc-smarts-query").val(query);
                        } else {
                            query += result.smarts;
                            $("#fc-smarts-query").val(query);
                        }
                    } else if (result.err_msg){
                        var error_msg;
                        error_msg = "[ERROR]\nWe can't generate smarts for this problem.\n" + result.err_msg;
                        alert(error_msg);

                    } else {
                        alert("Sorry, we get empty query!\nTry with other molecule..;-)");
                    };
                },
                error: function(request, status, error){
                    alert("Please draw molecule!");
                },
            });
        }, function(error) {
            alert("Molecule export failed:"+error);
        });
    });
    $("#clear").on("click", function(e){
        marvinSketcherInstance.clear();
    });
}


</script>
{% endblock %}
