{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock %}

{% block head %}
{% load staticfiles %}
{{ block.super }}
    #box-marvin { float: left; }
    #Search-title { float: left; }
    #Search-select { margin-top: 25px; }
{% endblock %}

{% block content %}
<form {% if form.Exact_Search %} action="{% url 'C3DB:exact' %}" {% elif form.Sub_Search %} action="{% url 'C3DB:substruct' %}" {% elif form.Similar_Search %} action="{% url 'C3DB:similar' %}" {% endif %} xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="dd">
        <div class="container" style="margin-top: 8px;">
            <ul class="nav nav-tabs">
                <li>
                    <div class="col-lg-3">
                        {{ form.Category }}
                    </div>
                </li>
                <li><a href="{% url 'C3DB:exact' %}">Search</a></li>
                <li><a href="{% url 'C3DB:functional' %}">Identification</a></li>
                <li><a href="{% url 'C3DB:mass' %}">Mass</a></li>
            </ul>
            <div class="tab-content">
                <div class="row">
                    <div class="col-sm-5" id="Search-title">
                        {% if form.Exact_Search %}
                            <h3>Exact Search</h3>
                        {% elif form.Similar_Search %}
                            <h3>Similarity Search</h3>
                        {% elif form.Sub_Search %}
                            <h3>Substructure Search</h3>
                        {% endif %}
                    </div>
                    <!-- Search methods selector -->
                    <div class="col-sm-7" id="Search-select">
                        <select name="Search-Methods" data-style="btn-info" class="chzn-select selectpicker" id="id_Methods" onchange="location=this.value;">
                            <option value="{% url 'C3DB:exact' %}" {% if form.Exact_Search %} selected="selected" {% endif %}>Exact Match</option>
                            <option value="{% url 'C3DB:similar' %}"{% if form.Similar_Search %} selected="selected" {% endif %}>Similarity Match</option>
                            <option value="{% url 'C3DB:substruct' %}"{% if form.Sub_Search %} selected="selected" {% endif %}>Substructure Match</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!-- MarvinJS of search  -->
                    <div id="box-marvin" style="width: 40%;">
                        <table class="table" style="overflow: hidden;">
                            <thead>
                                <th>Draw Query</th>
                            </thead>
                            <tbody>
                            <tr><td>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="resizable">
                                            <iframe src="{% static 'MarvinJS/editorws.html' %}" id="fc-sketch" class="sketcher-frame"></iframe>
                                            <button type="button" id="get_smiles" class="btn btn-info">SMILES</button>
                                            <button type="button" id="get_yachi" class="btn btn-info">yaChI</button>
                                            <button type="button" id="get_inchi" class="btn btn-info">InChI</button>
                                            <button type="button" id="marvinClear" class="btn btn-default">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </td></tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Search box -->
                    <div id="box-search" style="width: 50%;">
                        <div>
                            {% block search %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}
{{ block.super }}
<script>
    function getMarvinMolSmiles(){
        $('#get_smiles').click(function(e){
            marvinSketcherInstance.exportStructure("mol").then(function(source){
                $.ajax({
                    type: "POST",
                    url: "{% url 'C3DB:marvinToSmiles' %}",
                    timeout: 2000,
                    data: {
                        MarvinForSmiles: source,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function (result) {
                        if (result.smiles){
                            var flag = {% if form.Exact_Search %}'Exact'{% elif form.Similar_Search %}'Similar'{% elif form.Sub_Search %}'Sub'{% endif %};
                            if (flag === "Exact"){
                                $('#id_Exact_Search').val(result.smiles);
                            } else if (flag === "Similar"){
                                $('#id_Similar_Search').val(result.smiles);
                            } else if (flag === "Sub"){
                                $('#id_Sub_Search').val(result.smiles);
                            }

                        } else if (result.err_msg){
                            var error_msg;
                            error_msg = "[ERROR]\nWe can't generate smarts for this problem.\n" + result.err_msg;
                            alert(error_msg);
                        } else {
                            alert("Sorry, we get empty query!\nTry with other molecule..;-)");
                        }
                    },
                    error: function (request, status, error) {
                        alert("Please draw molecule!");
                    },
                });
            }, function (error) {
                alert("Molecule export failed:" + error);
            });
        });
    }

    function getMarvinMolYachi() {
        $('#get_yachi').click(function (e) {
            marvinSketcherInstance.exportStructure("mol").then(function (source) {
                $.ajax({
                    headers: {'X-Requested-With': 'XMLHttpRequest'},
                    type: "POST",
                    url: "{% url 'C3DB:marvinToYachi' %}",
                    timeout: 2000,
                    data: {
                        MarvinForYachi: source,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function (result) {
                        if (result.yachi){
                            var flag = {% if form.Exact_Search %}'Exact'{% elif form.Similar_Search %}'Similar'{% elif form.Sub_Search %}'Sub'{% endif %};
                            if (flag === "Exact"){
                                $('#id_Exact_Search').val(result.yachi);
                            } else if (flag === "Similar"){
                                $('#id_Similar_Search').val(result.yachi);
                            } else if (flag === "Sub"){
                                $('#id_Sub_Search').val(result.yachi);
                            }

                        } else if (result.err_msg){
                            var error_msg;
                            error_msg = "[ERROR]\nWe can't generate smarts for this problem.\n" + result.err_msg;
                            alert(error_msg);
                        } else {
                            alert("Sorry, we get empty query!\nTry with other molecule..;-)");
                        }
                    },
                    error: function (request, status, error) {
                        alert("Please draw molecule!");
                    },
                });
            }, function (error) {
                alert("Molecule export failed:" + error);
            });
        });
    }

    function getMarvinMolInchi() {
        $('#get_inchi').click(function (e) {
            marvinSketcherInstance.exportStructure("mol").then(function (source) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'C3DB:marvinToInchi' %}",
                    timeout: 2000,
                    data: {
                        MarvinForInchi: source,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function (result) {
                        if (result.inchi){
                            var flag = {% if form.Exact_Search %}'Exact'{% elif form.Similar_Search %}'Similar'{% elif form.Sub_Search %}'Sub'{% endif %};
                            if (flag === "Exact"){
                                $('#id_Exact_Search').val(result.inchi);
                            } else if (flag === "Similar"){
                                $('#id_Similar_Search').val(result.inchi);
                            } else if (flag === "Sub"){
                                $('#id_Sub_Search').val(result.inchi);
                            }

                        } else if (result.err_msg){
                            var error_msg;
                            error_msg = "[ERROR]\nWe can't generate smarts for this problem.\n" + result.err_msg;
                            alert(error_msg);
                        } else {
                            alert("Sorry, we get empty query!\nTry with other molecule..;-)");
                        }
                    },
                    error: function (request, status, error) {
                        alert("Please draw molecule!");
                    },
                });
            }, function (error) {
                alert("Molecule export failed:" + error);
            });
        });
    }

    /* Clear marvin skecth */
    $("#marvinClear").on("click", function(e){
        marvinSketcherInstance.clear();
    });

    /* Clear search input */
    $("#reset").on("click", function (e) {
        {% if form.Exact_Search %}
            $('#id_Exact_Search').val("");
        {% elif form.Similar_Search %}
            $('#id_Similar_Search').val("");
        {% elif form.Sub_Search %}
            $('#id_Sub_Search').val("");
        {% endif %}
    });


    $(document).ready(function handleMarvinJS(e){
        var p = MarvinJSUtil.getEditor("#fc-sketch");
        p.then(function(sketcherInstance){
            marvinSketcherInstance = sketcherInstance;
            getMarvinMolSmiles();
            getMarvinMolYachi();
            getMarvinMolInchi();
        }, function(error){
            alert("ERROR!!");
        });
    });
</script>
{% endblock %}
