{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user.get_username }} DataBase{% endblock %}

{% block head %}
{{ block.super }}
    .user_db_body {
        padding-left: 100px;
    }
    .box1 {
        float: left;
    }
    .box2 {
        margin-left: 50px;
        float: left;
        margin-right: 50px;
    }
    .box3 {
        margin-left: 50px;
    }
    #user_mol_box{
        height: 312px;
        width: 85%;
        border-style: inset;
        margin-left: 0px;
    }
{% endblock %}


{% block content %}
<div class="user_db_body">
    <div class="dd">
        <div class="container" style="margin-top: 8px;">
            <ul class="nav nav-tabs">
                <li>
                    <div class="col-lg-3">
                        {{ form.Category }}
                    </div>
                </li>
                <li><a href="{% url 'chemdb:exact' %}">Search</a></li>
                <li><a href="{% url 'chemdb:functional' %}">Identification</a></li>
                <li><a href="{% url 'chemdb:mass' %}">Mass</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="row">
                <!-- Your DB List -->
                <div class="col-sm-2">
                    <div>
                        [ DB List ]<br/>
                        <button class="btn btn-info" onclick="location.href='{% url 'chemdb:user_db_create' %}'">Add</button>
                        <button class="btn btn-default" id="delete_db">Delete</button>
                        <button class="btn btn-default" id="mol_show">Show</button>
                    </div>
                    <div>
                        <select name="user_db_list" data-style="btn-info" class="chzn-select selectpicker" id="user_db_list">
                            {% for db in user_db %}
                                <option value="{{ db.id }}">{{ db.user_db_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-10">
                    {% block user_db %}
                    <div class="boxA">
                        <div class="box0">
                            <div id="Total_mols"></div>
                        </div>
                        <div class="box1">
                            <input id="show_all" type="checkbox" autocomplete="off">Show Pic
                        </div>
                        <div class="box2">
                            <input id="select_all" type="checkbox" autocomplete="off">Select all
                        </div>
                        <div class="box3">
                            <button id="mol_delete" type="submit" class="btn btn-defatul">Delete</button>
                        </div>
                    </div>
                    <div id="user_mol_box">
                        <table class="tablesorter" id="myTable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>SSU_CID</th>
                                <th class="mol_img">Pic</th>
                                <th>MW</th>
                                <th>#ATOM</th>
                                <th>#BOND</th>
                                <th>#Ring</th>
                                <th>MF</th>
                                <th>PUB_CID</th>
                            </tr>
                            </thead>
                            <tbody id="contents">
                            </tbody>
                        </table>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
{{ block.super }}
<script src="{% static 'js/imageLoader.js' %}"></script>
<script type="text/javascript">

    /* Getting mol_img path according ssu_cid */
    function getMoleculeimagePath(ssu_cid){
        ssu_cid = Number(ssu_cid);
        var path = "";
        var maximum_dir = 60000000; // Change this value according your dir.
        var ssu_cid_len = ssu_cid.toString().length;
        var final_path;
        /* <Directory>
         * 000000001/
         * 001000001/
         * 002000001/
         * 003000001/
         * 004000001/
         * ...
         * 051000000
         * ==> mol_001000000.png placed in 001000001/ !!
         * */
        for (var i = 1;i < maximum_dir; i += 1000000){
            if ((ssu_cid >= i) && (ssu_cid < i + 1000000)){
                if ((ssu_cid_len >=1) && (ssu_cid_len < 7)){
                    for (var j = 0;path.length < 8; j++){
                        path += "0";
                    }
                    path += i;
                }
                else if ((ssu_cid_len >=7) && (ssu_cid_len < 8)){
                    for (var k = 0;path.length < 2;k++){
                        path += "0";
                    }
                    path += i;
                }
                else if ((ssu_cid_len >=8) && (ssu_cid_len < 9)){
                    for (var p = 0;path.length < 1;p++){
                        path += "0";
                    }
                    path += i;
                }
            }
        }

        var ssu_cid_string = addZero(ssu_cid);

        final_path = "{{ MEDIA_URL }}" + "mol_img/" + path + "/" + "mol_" + ssu_cid_string + ".png";
        //final_path = "{% static 'mol_png/" + path + "/' %}mol_" + ssu_cid + ".png";
//        console.log(ssu_cid);
//        console.log(path);
//        console.log(final_path);

        return final_path;
    }

    /* Delete selected database */
    $('#delete_db').click(function(e){
        e.preventDefault();
        $.post("{% url 'chemdb:user_db_delete' %}", {user_db_id: $('#user_db_list option:selected').val()}, function(data){
            if (data['status'] == 'ok') {
                alert("Delete success!");
                window.location.replace("{% url 'chemdb:user_db' %}");

            } else if (data['status'] == 'None'){
                alert("Delete fail...");
            }
        });
    });

    function checkedMolList(checkedList) {
        var list = [];
        checkedList.each(function () {
            list.push(this.value);
        });

        return list;
    }

    /* Delete selected molecules */
    $('#mol_delete').click(function(e){
        e.preventDefault();
        $.post("{% url 'chemdb:mol_delete' %}", {
            user_mols: checkedMolList($('input[name="user_mol"]:checked')),
            user_db_id: $('#user_db_list option:selected').val(),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        }, function(data){
            if (data['status'] == 'ok'){
                alert("Delete success!");
                window.location.replace("{% url 'chemdb:user_db' %}");

            }
        });
    });

    /* Parsing search results for table show */
    function resultAppend(mols){
        var path = getMoleculeimagePath(mols.SSU_CID);
        var o = "";
        o += "<tr>";
        o += "<td><div><label>";
        o += "<input class='mol1' name='user_mol' type='checkbox' value='" + mols.SSU_CID + "'>";    // SSU_CID
        o += "</label></div></td>";
        o += "<td><a href='http://203.230.60.144:8000/chemdb/result/" + mols.SSU_CID + "' target='_blank'>" + mols.SSU_CID + "</a></td>"; // SSU_CID
        o += "<td class='mol_img'>";
        o += "<a href='"+ path + "' class='highslide' onclick='return hs.expand(this)'><img alt='HighslideJS' title='Click to enlarge' src="+ path +" width='120' height='107'></a>";
        o += "</td>";
        o += "<td>" + mols.Py_MW + "</td>";
        o += "<td>" + mols.AtomNumber + "</td>";
        o += "<td>" + mols.BondNumber + "</td>";
        o += "<td>" + mols.RingNumber + "</td>";
        o += "<td>" + mols.MolFormular + "</td>";
        o += "<td><a href='https://pubchem.ncbi.nlm.nih.gov/compound/" + mols.PUB_CID + "' target='_blank'>" + mols.PUB_CID + "</a></td>";
        o += "</tr>";

        return o;
    }
    /* Show molecules from user's db. */
    $('#mol_show').click(function(e){
        e.preventDefault();
        $.post("{% url 'chemdb:mol_show' %}", {user_db_id: $('#user_db_list option:selected').val()}, function(data){
            if (data['status'] == 'ok') {
                //alert("TEST SUCCESS!");
                /* Check the JSON format and Parse it */
                //alert(data['mol_set']);
                var obj = JSON.parse(data['mol_set']);
                //alert(obj);
                //console.log(obj[0]);
                //console.log(obj[0].fields);
                //console.log(obj[0].fields.SSU_CID);
                function declare(){
                    var q = "";
                    if (obj.length >= 1){
                        for (var i=0; i < obj.length; i++){
                            var mol = obj[i].fields;
                            q += resultAppend(mol);
                        }
                        $('#contents').html(q);
                    } else {
                        q += "<div class='no_result'><p>Empty Database.</p></div>";
                        $('#contents').html(q);
                    }
                    $('#Total_mols').html("Total molecules: " + obj.length);
                }
                declare();
            }
        });
    });

    /* Selecting all molecules */
    $('#select_all').change(function(){
        $('.mol1').prop('checked', $(this).prop("checked"));
    });

    $('.mol1').change(function(){
        if (false == $(this).prop("checked")){
            $('#select_all').prop('checked', false);
        }
        if ($('.mol1:checked').length == $('.mol1').length){
            $('#select_all').prop('checked', true);
        }
    });

    /* Show & Hiding Pics */
    $('#show_all').change(function(){
        var chk = $(this).is(":checked");
        if(chk){
            $('.mol_img').show();


        }else{
            $('.mol_img').hide();

        }
    });


</script>
{% endblock %}
